body {
  font-family: sans-serif;
  text-align: center;
}

input[type=text], .tt-dropdown-menu {
  font-family: sans-serif;
  font-size: 24px;
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 500px;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
}

.tt-dropdown-menu {
  margin-top: 12px;
  padding: 0;
  background: white;
  text-align: left;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  max-height: 300px;
  overflow-y: auto;
}

.tt-suggestion {
  padding: 5px 20px;
  margin: 0;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

button {
  font-size: 24px;
  line-height: 30px;
  position: relative;
  top: 15px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #b8b8b8;
  min-width: 50px;
}

form > div {
  margin-top: 20px;
}

input[name=interval] {
  width: 50px;
  text-align: right;
}

.vk {
  margin-top: 100px;
}

#status {
  margin-top: 20px;
  color: red;
}
