body {
  font-family: sans-serif;
  text-align: center;
}

input[type=text] {
  font-size: 24px;
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 500px;
  outline: none;
  padding: 10px 15px;
  box-sizing: border-box;
}

button {
  font-size: 30px;
  line-height: 30px;
  position: relative;
  top: 15px;
  padding: 8px;
  border: none;
  background: transparent;
  min-width: 50px;
  cursor: pointer;
}

form > div {
  margin-top: 20px;
}

input[name=interval] {
  font-size: 1em;
  width: 50px;
  text-align: center;
}

#status {
  margin-top: 20px;
  color: red;
}
